# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Project
.env
.env.*
node_modules/
dist/
build/

# Tests
.pytest_cache
.hypothesis

# Docker
Dockerfile*
*compose*.yml
*compose*.yaml
.dockerignore
